body {
  /*background-image: url(../img/bg-df.jpg);*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Dosis', 'Helvetica Neue', 'Helvetica';
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

p a {
  color: #82CD28;
}

#logo {
  font-size: 58px;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 3px;
}

#tagline {
  margin: 0;
  font-weight: 300;
  letter-spacing: 4.5px;
  color: #eee;
}

.nav {
  margin-top: 40px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  color: #fff;
  background-color: #97d931;
}

.nav-pills>li>a {
  border-radius: 4px;
  color: #fff;
}

.nav-pills>li>a:hover {
  background-color: #262626;
  color: #97d931;
}

.organizadores {
  margin-bottom: 50px;
}

.organizadores>h2{
  margin-top: 35px;
  margin-bottom: 25px;
}

.organizador {
  width: 184px;
  display: inline-block;
  text-align: center;
  font-size: 15px;
}

.description {
  letter-spacing: 1px;
  line-height: 18px;
  font-size: 17px;
  color: #e1e1e1;
  margin-top: 30px;
}

.social-icons {
  font-size: 25px;
  margin-top: 25px;
}

.social-icons a {
  color: #3F4135;
  display: inline-block;
  margin: 0 auto;
}

.social-icons a:hover {
  color: #82CD28;
}

img.profile {
  border-radius: 100%;
  width: 80px;
  margin: 0 auto;
  border: 2px solid rgba(255,255,255,0.7);
  display: block;
}

/* Eventos Global */
.eventos {
  margin: 0;
  margin-bottom: 30px;
}

/* Calendario por evento */
#calendar {
width: 50px;
height: 50px;
border-radius: 12px;
background-color: #fff;
text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

#calendar .month {
background-color: #db2107;
width: 100%;
font-size: 14px;
text-align: center;
font-weight: 600;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
}

#calendar .day {
  text-align: center;
  font-size: 22px;
  color: #191919;
  font-weight: 600;
}

/* Evento individual */
.evento {
display: block;
}

.evento h3 {
margin: 0;
}

.evento .info {
margin-bottom: 35px;
}

.evento .lugar {
color:#94ca2e;
}

.evento p.resumen {
margin-bottom: 0;
}

/* CSS for sliding background */
#bg-body {
  background: none repeat scroll 0 0 #060606;
  height: 200%;
  left: -50%;
  position: fixed;
  top: -50%;
  width: 200%;
}
#bg-body img {
  bottom: 0;
  left: 0;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

/* Media queries (Must be last) */
@media only screen
  and (max-width : 991px) {

  .evento .lugar {
    margin:0px;
  }

}

@media only screen
and (min-width : 992px) {

  .evento .calendar.alignment {
    border-right: 1px solid rgba(255,255,255,0.6);
  }

  .evento .info.alignment {
    border-left: 1px solid rgba(255,255,255,0.6);
    padding-left: 15px;
  }

}